Q1. How can we store a single quote (â€˜) as a string in a variable?

Ans. To store a single quote (') as a string in a variable, you typically need to use an escape character to indicate that the single quote should be treated as a literal character and not as a delimiter for the string.

In [2]:
my_string = 'This is a single quote: \''

Q2. Refer the below var1able:
x = 'a'
Here, is x a character type or string type variable? Support your answer with an explanation.

Ans. The variable x in the assignment x = 'a' is typically considered a string type variable
        String Syntax: The syntax used here ('a') is consistent with how strings are defined in Python. Strings can contain one or more characters and are often enclosed in quotation marks (single or double) to denote their string nature.

In [4]:
x='a'
x1="a"

In [5]:
type(x)

str

In [6]:
type(x1)

str

Q3. Apply the following functions on this variable: 
1 find ()
2 count()
3 len()
4 Concatenation

Ans. Apply the following functions to the given string: 'Welcome to Python foundation course'.

In [7]:
#find()
string = 'Welcome to Python foundation course'

# Find the index of the word 'Python'
x = string.find('Python')
print(x)

11

In [8]:
#count()
string = 'Welcome to Python foundation course'

# Count the number of times 'o' appears in the string
x = string.count('o')
print(x)

6

In [9]:
#len()
string = 'Welcome to Python foundation course'

# Find the length of the string
x = len(string)
print(x)

35

In [10]:
#Concatenation
string1 = 'Welcome to Python'
string2 = 'foundation course'

# Concatenate the two strings
x = string1 + ' ' + string2
print(x)

Welcome to Python foundation course

Q4. For the variable: word = 'PanaJi@12256'
Calculate the following:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numerical in string

Ans. (a) Total number of lowercase alphabets:

In [14]:
word = 'PanaJi@12256'

In [15]:
lowercase_count = 0

In [18]:
for char in word:
    if char.islower():
        lowercase_count += 1

In [19]:
print("Total number of lowercase alphabets:", lowercase_count)

Total number of lowercase alphabets: 12

(b) Total number of alphabets in uppercase

In [20]:
word = 'PanaJi@12256'

In [21]:
uppercase_count = 0

In [23]:
for char in word:
    if char.isupper():
        uppercase_count += 1

In [24]:
print("Total number of uppercase alphabets:", uppercase_count)

Total number of uppercase alphabets: 4

(c) Total number of numerical in string

In [25]:
word = 'PanaJi@12256'

In [26]:
numerical_count = 0

In [27]:
for char in word:
    if char.isdigit():
        numerical_count += 1

In [28]:
print("Total number of numerical digits:", numerical_count)

Total number of numerical digits: 5

Q5. Write a code to store a numerical value inside a variable then convert it into string

Ans.

In [29]:
x=45

In [30]:
x1=str(x)

In [32]:
print(x,type(x1))

45 <class 'str'>